name: Flake Check

on:
  pull_request:
  push:

jobs:
  flake-check:
    env:
      NIXPKGS_ALLOW_UNFREE: 1

    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix flake check --impure
